POSTGRES_DB=auth
POSTGRES_USER=auth-user
POSTGRES_PASSWORD=auth-password
POSTGRES_PORT=5432
MIGRATION_DIR=./migrations

PG_DSN="host=pg port=5432 dbname=auth user=auth-user password=auth-password sslmode=disable"
MIGRATION_DSN="host=pg port=5432 dbname=auth user=auth-user password=auth-password sslmode=disable"

HTTP_HOST=0.0.0.0
HTTP_PORT=8080
READ_HEADER_TIMEOUT_SEC=30

LOG_FILENAME="./logs/app.log"
LOG_FILE_MAX_SIZE=10
LOG_FILE_MAX_BACKUPS=3
LOG_FILE_MAX_AGE=7
LOG_LEVEL=error
